<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>auto</string>
	<string>break</string>
	<string>case</string>
	<string>char</string>
	<string>const</string>
	<string>continue</string>
	<string>default</string>
	<string>do</string>
	<string>double</string>
	<string>else</string>
	<string>enum</string>
	<string>extern</string>
	<string>float</string>
	<string>for</string>
	<string>goto</string>
	<string>if</string>
	<string>inline</string>
	<string>int</string>
	<string>long</string>
	<string>register</string>
	<string>restrict</string>
	<string>return</string>
	<string>short</string>
	<string>signed</string>
	<string>sizeof</string>
	<string>static</string>
	<string>struct</string>
	<string>switch</string>
	<string>typedef</string>
	<string>union</string>
	<string>unsigned</string>
	<string>void</string>
	<string>volatile</string>
	<string>while</string>
	<string>_Bool</string>
	<string>_Complex</string>
	<string>_Imaginery</string>
	<string>BOOL</string>
	<string>Class</string>
	<string>bycopy</string>
	<string>byref</string>
	<string>id</string>
	<string>IMP</string>
	<string>in</string>
	<string>inout</string>
	<string>nil</string>
	<string>Nil</string>
	<string>NULL</string>
	<string>YES</string>
	<string>NO</string>
	<string>oneway</string>
	<string>out</string>
	<string>Protocol</string>
	<string>SEL</string>
	<string>self</string>
	<string>super</string>
	<string>atomic</string>
	<string>nonatomic</string>
	<string>retain</string>
	<string>assign</string>
	<string>strong</string>
	<string>copy</string>
	<string>weak</string>
	<string>getter</string>
	<string>setter</string>
	<string>readonly</string>
	<string>readwrite</string>
	<string>__attribute__</string>
	<string>IBOutlet</string>
	<string>IBAction</string>
</array>
</plist>
